In [3]:
import pandas as pd

In [4]:
file_path = '/Users/jatinkumarparmar/Documents/GitHub/dsp-g6-s1-25-tfd/data/Clean_Dataset.csv'

df = pd.read_csv(file_path)

In [5]:
df.head()

,Unnamed: 0,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,travel_class,duration,days_left,price
0,0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953
1,1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953
2,2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956
3,3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955
4,4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300153 entries, 0 to 300152
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Unnamed: 0        300153 non-null  int64
 1   airline           300153 non-null  object
 2   flight            300153 non-null  object
 3   source_city       300153 non-null  object
 4   departure_time    300153 non-null  object
 5   stops             300153 non-null  object
 6   arrival_time      300153 non-null  object
 7   destination_city  300153 non-null  object
 8   travel_class      300153 non-null  object
 9   duration          300153 non-null  float64
 10  days_left         300153 non-null  int64
 11  price             300153 non-null  int64
dtypes: float64(1), int64(3), object(8)
memory usage: 27.5+ MB

In [7]:
for col in df.columns:
    unique_values = df[col].unique()[:10]  # First 10 unique values
    print(f"Unique values in column '{col}': {unique_values}\n")

Unique values in column 'Unnamed: 0': [0 1 2 3 4 5 6 7 8 9]

Unique values in column 'airline': ['SpiceJet' 'AirAsia' 'Vistara' 'GO_FIRST' 'Indigo' 'Air_India']

Unique values in column 'flight': ['SG-8709' 'SG-8157' 'I5-764' 'UK-995' 'UK-963' 'UK-945' 'UK-927' 'UK-951'
 'G8-334' 'G8-336']

Unique values in column 'source_city': ['Delhi' 'Mumbai' 'Bangalore' 'Kolkata' 'Hyderabad' 'Chennai']

Unique values in column 'departure_time': ['Evening' 'Early_Morning' 'Morning' 'Afternoon' 'Night' 'Late_Night']

Unique values in column 'stops': ['zero' 'one' 'two_or_more']

Unique values in column 'arrival_time': ['Night' 'Morning' 'Early_Morning' 'Afternoon' 'Evening' 'Late_Night']

Unique values in column 'destination_city': ['Mumbai' 'Bangalore' 'Kolkata' 'Hyderabad' 'Chennai' 'Delhi']

Unique values in column 'travel_class': ['Economy' 'Business']

Unique values in column 'duration': [ 2.17  2.33  2.25  2.08 12.25 16.33 11.75 14.5  15.67  3.75]

Unique values in column 'days_left': [ 1  2  3  4  5  6  7  8  9 10]

Unique values in column 'price': [5953 5956 5955 6060 5954 5949 6165 6690 6585 8869]