In [11]:
import pandas as pd

In [12]:
file_path = '/Users/jatinkumarparmar/Documents/GitHub/dsp-g6-s1-25-tfd/data/Clean_Dataset.csv'

df = pd.read_csv(file_path)

In [13]:
import pandas as pd
import numpy as np
import random

def introduce_specific_errors(df):
    
    df_error = df.copy()

    # 1. Blank value in price column for SpiceJet airline
    spicejet_indices = df_error[df_error['airline'] == 'SpiceJet'].index
    if len(spicejet_indices) > 0:
        random_spicejet = np.random.choice(spicejet_indices, size=min(500, len(spicejet_indices)), replace=False)
        df_error.loc[random_spicejet, 'price'] = np.nan

    # 2. Negative value in days_left column
    random_days_indices = np.random.choice(df_error.index, size=min(500, len(df_error)), replace=False)
    df_error.loc[random_days_indices, 'days_left'] *= -1

    # 3. Same source and destination cities
    random_city_indices = np.random.choice(df_error.index, size=min(500, len(df_error)), replace=False)
    df_error.loc[random_city_indices, 'destination_city'] = df_error.loc[random_city_indices, 'source_city']

    # 4. Yes and No values in duration column
    df_error['duration'] = df_error['duration'].astype('object')
    random_duration_indices = np.random.choice(df_error.index, size=min(500, len(df_error)), replace=False)
    df_error.loc[random_duration_indices, 'duration'] = np.random.choice(['Yes', 'No'], size=len(random_duration_indices))

    # 5. Invalid class types (add "Premium" besides Economy/Business)
    random_class_indices = np.random.choice(df_error.index, size=min(500, len(df_error)), replace=False)
    df_error.loc[random_class_indices, 'travel_class'] = 'Premium'

    # 6. Air India airline has flights with Vistara flight numbers
    air_india_indices = df_error[df_error['airline'] == 'Air_India'].index
    if len(air_india_indices) > 0:
        random_air_india = np.random.choice(air_india_indices, size=min(500, len(air_india_indices)), replace=False)
        vistara_flight_numbers = ['UK-' + str(random.randint(100, 999)) for _ in range(len(random_air_india))]
        df_error.loc[random_air_india, 'flight'] = vistara_flight_numbers

    # 7. Assign random durations > 20 hours to some "zero stops" flights
    zero_stop_indices = df_error[df_error['stops'] == 'zero'].index
    if len(zero_stop_indices) > 0:
        random_zero_stops = np.random.choice(zero_stop_indices, size=min(500, len(zero_stop_indices)), replace=False)
        df_error.loc[random_zero_stops, 'duration'] = np.random.uniform(20.1, 25.0, size=len(random_zero_stops))

    return df_error

def verify_errors(original_df, error_df):
    
    print("1. SpiceJet flights with blank prices:")
    print(error_df[(error_df['airline'] == 'SpiceJet') & (error_df['price'].isna())].head())

    print("\n2. Negative days_left values:")
    print(error_df[error_df['days_left'] < 0].head())

    print("\n3. Same source and destination cities:")
    print(error_df[error_df['source_city'] == error_df['destination_city']].head())

    print("\n4. Yes/No values in duration (before numeric conversion):")
    print(error_df[error_df['duration'].astype(str).isin(['Yes', 'No'])].head())

    print("\n5. Premium class entries:")
    print(error_df[error_df['travel_class'] == 'Premium'].head())

    print("\n6. Air India with Vistara flight numbers:")
    print(error_df[(error_df['airline'] == 'Air_India') & (error_df['flight'].str.startswith('UK-'))].head())

    print("\n7. Zero stops with duration > 20 hours:")
    temp_duration = pd.to_numeric(error_df['duration'], errors='coerce') 
    print(error_df[(error_df['stops'] == 'zero') & (temp_duration > 20)].head())


# Introduce errors
df_with_errors = introduce_specific_errors(df)

# Verify the introduced errors
verify_errors(df, df_with_errors)

# Save the dataset with errors
df_with_errors.to_csv('flight_dataset_with_errors.csv', index=False)

1. SpiceJet flights with blank prices:
     Unnamed: 0   airline   flight source_city departure_time stops  \
38           38  SpiceJet  SG-2976       Delhi        Evening   one
444         444  SpiceJet  SG-2976       Delhi        Evening   one
738         738  SpiceJet  SG-1091       Delhi        Evening  zero
802         802  SpiceJet  SG-8483       Delhi        Evening   one
898         898  SpiceJet   SG-339       Delhi      Afternoon   one

      arrival_time destination_city travel_class duration  days_left  price
38           Night           Mumbai      Economy      4.5          1    NaN
444          Night           Mumbai      Economy      4.5          4    NaN
738          Night           Mumbai      Economy     2.17          6    NaN
802  Early_Morning           Mumbai      Economy    13.25          6    NaN
898      Afternoon           Mumbai      Economy    21.08          6    NaN

2. Negative days_left values:
      Unnamed: 0    airline  flight source_city departure_time stops  \
184          184    Vistara  UK-637       Delhi        Evening   one
186          186    Vistara  UK-829       Delhi  Early_Morning   one
724          724  Air_India  AI-429       Delhi        Morning   one
2615        2615    AirAsia  I5-784       Delhi        Evening   one
2770        2770    Vistara  UK-955       Delhi        Evening  zero

     arrival_time destination_city travel_class duration  days_left    price
184         Night           Mumbai      Economy     4.42         -2  12570.0
186     Afternoon           Mumbai      Economy      7.0         -2  12623.0
724     Afternoon           Mumbai      Economy    30.08         -5  15405.0
2615   Late_Night           Mumbai      Economy      8.5        -15   5230.0
2770        Night           Mumbai      Economy     2.33        -16   3100.0

3. Same source and destination cities:
      Unnamed: 0    airline   flight source_city departure_time stops  \
481          481  Air_India   AI-475       Delhi      Afternoon   one
1059        1059    Vistara   UK-837       Delhi        Evening   one
1470        1470    Vistara   UK-977       Delhi        Evening  zero
1477        1477     Indigo  6E-6261       Delhi        Evening  zero
1711        1711   GO_FIRST   G8-194       Delhi          Night   one

       arrival_time destination_city travel_class duration  days_left    price
481       Afternoon            Delhi      Economy    24.58          4   9988.0
1059        Morning            Delhi      Economy    18.25          7  12990.0
1470          Night            Delhi      Economy     2.25         10   5955.0
1477          Night            Delhi      Economy     2.25         10   5955.0
1711  Early_Morning            Delhi      Economy    11.25         11   5954.0

4. Yes/No values in duration (before numeric conversion):
      Unnamed: 0    airline   flight source_city departure_time stops  \
302          302     Indigo  6E-2193       Delhi      Afternoon   one
2695        2695  Air_India   AI-401       Delhi  Early_Morning   one
2798        2798     Indigo  6E-5018       Delhi      Afternoon   one
2976        2976  Air_India   AI-865       Delhi        Morning  zero
3310        3310   GO_FIRST   G8-266       Delhi  Early_Morning   one

     arrival_time destination_city travel_class duration  days_left    price
302         Night           Mumbai      Economy       No          3  11326.0
2695        Night           Mumbai      Economy       No         15   7931.0
2798        Night           Mumbai      Economy      Yes         16   4274.0
2976    Afternoon           Mumbai      Economy       No         17   2791.0
3310      Evening           Mumbai      Economy       No         18   5954.0

5. Premium class entries:
      Unnamed: 0    airline   flight source_city departure_time stops  \
972          972     Indigo  6E-2083       Delhi  Early_Morning   one
1509        1509     Indigo  6E-2013       Delhi  Early_Morning   one
1759        1759    AirAsia   I5-784       Delhi        Evening   one
2972        2972    Vistara   UK-977       Delhi        Evening  zero
2996        2996  Air_India  AI-9643       Delhi        Evening   one

     arrival_time destination_city travel_class duration  days_left   price
972       Morning           Mumbai      Premium     5.42          7  5955.0
1509      Morning           Mumbai      Premium     6.58         10  7420.0
1759   Late_Night           Mumbai      Premium      8.5         11  9840.0
2972        Night           Mumbai      Premium     2.25         17  3100.0
2996    Afternoon           Mumbai      Premium    20.83         17  4296.0

6. Air India with Vistara flight numbers:
      Unnamed: 0    airline  flight source_city departure_time stops  \
166          166  Air_India  UK-177       Delhi      Afternoon   one
1034        1034  Air_India  UK-403       Delhi  Early_Morning   one
1240        1240  Air_India  UK-554       Delhi        Morning   one
2072        2072  Air_India  UK-980       Delhi        Evening   one
2878        2878  Air_India  UK-149       Delhi      Afternoon   one

     arrival_time destination_city travel_class duration  days_left    price
166       Evening           Mumbai      Economy     6.33          2  10303.0
1034    Afternoon           Mumbai      Economy      8.0          7  11730.0
1240        Night           Mumbai      Economy    15.75          8  12360.0
2072        Night           Mumbai      Economy     6.25         12  14670.0
2878      Evening           Mumbai      Economy    25.92         16   6711.0

7. Zero stops with duration > 20 hours:
      Unnamed: 0   airline   flight source_city departure_time stops  \
278          278  GO_FIRST   G8-330       Delhi          Night  zero
420          420    Indigo  6E-6202       Delhi        Morning  zero
928          928   Vistara   UK-975       Delhi  Early_Morning  zero
1949        1949    Indigo   6E-549       Delhi      Afternoon  zero
2308        2308   Vistara   UK-927       Delhi        Morning  zero

       arrival_time destination_city travel_class   duration  days_left  \
278           Night           Mumbai      Economy  21.053303          3
420       Afternoon           Mumbai      Economy  24.265978          4
928   Early_Morning           Mumbai      Economy  22.053695          7
1949        Evening           Mumbai      Economy   21.79717         12
2308        Morning           Mumbai      Economy  22.777388         14

       price
278   6532.0
420   5955.0
928   5955.0
1949  6165.0
2308  5955.0